* {
    box-sizing: border-box;
}

/* rows and columns for responsiveness */
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class *= "col-"] {
    float: left;
    padding: 15px;
    /* border: 15px solid red; */
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* general text stylings */
#index-header, th {
    font-family: cursive;
    color: #FBEEC1;
    text-shadow: 2px 2px #474853;
}
#wandershare, #wandering-title, #recent-wanderings, #your-wanderings {
    font-family: cursive;
    font-size: 3vw;
    margin: 0;
}
#view-instructions, #wandering-title {
    font-family: cursive;
}
#view-txt, #btn-new, #btn-update {
    font-family: sans-serif;
}
#login-form, #about-section, #new-wandering-form, #register-form, td {
    font-family: sans-serif;
    text-align: center;
}
#login-form, #about-section, #view-instructions, #view-wandering, #your-wanderings, #recent-wanderings, .route-link {
    color: #474853;
}
#btn-login, #btn-reg-link, #btn-valid-login, #register-txt {
    color: #86B3D1;
}
#btn-register, #btn-valid-reg, #btn-valid, #btn-new, #btn-update, .link-txt {
    color: #FBEEC1;
}
#register-form, #new-wandering-form, .rating > label {
    color: #844D36;
}
#recent-wanderings, #your-wanderings, #view-instructions {
    text-shadow: 3px 3px 15px #FBEEC1,
        -3px 3px 15px #FBEEC1;
}
#tagline, #about-wandershare, .link-txt, th {
    font-size: 2vw;
    margin: 0;
}
#login-form {
    font-size: 1.5vw;
}
#register-txt, .link-txt, .route-link {
    text-decoration: none;
}
#view-instructions {
    text-align: left;
    margin: 0;
}

/* applies to header */
#index-header {
    width: 100%;
    display: flex;
    padding: 1vw;
    background-image: linear-gradient(
        to bottom right, #659DBD, #FBEEC1);
}
#hr-header {
    background-color: #FBEEC1;
    margin-bottom: 2.5%;
}
#logo {
    float: right;
    max-width: 100%;
    height: auto;
}

/* login page background vid */
#video {
    position: fixed;
    object-fit: cover;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

/* applies to background image on all pages */
#background-img {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position:fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

/* about section, form stylings */
#about-section, #login-form {
    border: 1px solid #AAA0A0;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #474853;
    background-color: #FBEEC1;
    padding: 2%;
}
#hr-2 {
    background-color: #474853;
}
#btn-login, #btn-reg-link, #btn-valid-login {
    margin: 10px;
    border-radius: 25px;
    padding: 5px 20px;
    background-color: #474853;
    cursor: pointer;
}
#register-form, #new-wandering-form {
    border-radius: 25px;
    padding: 5px 20px;
}
#register-form {
    background: rgba(251, 238, 193, 0.7);
}
.register-lbl, .new-lbl {
    display: block;
    margin-bottom: 20px;
}
#btn-register, #btn-valid-reg, #btn-valid, #btn-new, #btn-update {
    margin: 10px;
    border-radius: 25px;
    padding: 5px 20px;
    background-color: #844D36;
}

/* applies to dashboard, user dashboard */
.link-txt {
    margin: 0px 10px;
}
table, th, td {
    border: 1px solid #474853;
    border-collapse: collapse;
    padding: 10px;
}
table {
    width: 100%;
    border-radius: 10%;
}
tr:nth-child(even) {
    background: rgba(170, 160, 160, 0.85)
}
tr:nth-child(odd) {
    background: rgba(251, 238, 193, 0.85);
}
tr:hover, #new-wandering-form {
    background: rgba(178, 211, 194, 0.85);
}
th {
    background-color: #86B3D1;
}

/* applies to view wandering, wandering images */
#view-wandering {
    background: rgba(134, 179, 209, 0.85);
    border-radius: 25px;
    padding: 5%;
}
#wandering-img, textarea {
    max-width: 100%;
    height: auto;
}

/* applies to rating stars */
.hide {
    display: none;
}
.clear {
    float: none;
    clear: both;
}
.rating {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}
.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
}
.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}

/* applies to image upload only */
#input-div {
    margin: 0% 25%;
    border: 1px solid #844D36;
    border-radius: 25px;
    text-align: center;
    /* padding: 3%; */
}
#file {
    display: none;
}
.file-lbl {
    cursor: pointer;
}