/* applies to entire site */
* {
    box-sizing: border-box;
}

/* rows and columns for responsiveness */
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class *= "col-"] {
    float: left;
    padding: 15px;
    /* border: 15px solid red; */
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* applies to index only */
#index-header {
    width: 100%;
    display: flex;
    padding: 1vw;
    background-image: linear-gradient(
        to bottom right, #659DBD, #FBEEC1);
    font-family: cursive;
    text-shadow: 2px 2px #474853;
    color: antiquewhite;
}
#wandershare {
    font-size: 3vw;
    margin: 0;
}
#hr-1 {
    background-color: #FBEEC1;
    margin-bottom: 2.5%;
}
#tagline, #about-wandershare {
    font-size: 2vw;
    margin: 0;
}
#logo {
    float: right;
    max-width: 100%;
    height: auto;
}
#video {
    position: fixed;
    object-fit: cover;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}
#about-section, #login-form {
    border: 1px solid #AAA0A0;
    border-radius: 25px;
    box-shadow: 10px 10px 5px #474853;
    background-color: #FBEEC1;
    padding: 2%;
    text-align: center;
    font-family: sans-serif;
    color: #474853;
}
#hr-2 {
    background-color: #474853;
}
#login-form {
    font-size: 1.5vw;
}
#btn-login, #btn-register {
    margin: 10px;
    border-radius: 25px;
    padding: 5px 20px;
    background-color: #474853;
    color: #86B3D1;
}
#register-txt {
    text-decoration: none;
    color: #86B3D1;
}

/* applies to rating stars only */
.hide {
    display: none;
}
.clear {
    float: none;
    clear: both;
}
.rating {
    width: 90px;
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
    position: relative;
}
.rating > label {
    float: right;
    display: inline;
    padding: 0;
    margin: 0;
    position: relative;
    width: 1.1em;
    cursor: pointer;
    color: #000;
}
.rating > label:hover,
.rating > label:hover ~ label,
.rating > input.radio-btn:checked ~ label {
    color: transparent;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before,
.rating > input.radio-btn:checked ~ label:before,
.rating > input.radio-btn:checked ~ label:before {
    content: "\2605";
    position: absolute;
    left: 0;
    color: #FFD700;
}
